</html>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
      <p class="col-md-4 mb-0 text-muted">&copy; This web application was created to fulfill Web
        Technology module’s requirements and does not represent an actual company or service</p>
      <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item">Tashkent 2023</li>
      </ul>
  </footer>
</div>