<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>
    <h2>Add a new medicine to our database</h2>
    <form method="POST" action="/new">
						<div class="mb-3">
							<label>Title</label>
							<input type="text" name="title" class="form-control" />
						</div>
						<div class="mb-3">
							<label>Dosage Form</label>
							<input type="text" name="dosage_form" class="form-control" />
						</div>
						<div class="mb-3">
		                	<label>ATX CODE</label>
		                	<input type="text" name="atx_code"  class="form-control" />
		                </div>
                        <div class="mb-3">
		                	<label>Producer</label>
		                	<input type="text" name="producer" class="form-control" />
		                </div>
                        <div class="mb-3">
		                	<label>Produced data</label>
		                	<input type="date" name="produced_data" class="form-control"/>
		                </div>
                        <div class="mb-3">
		                	<label>In stock?</label>
		                	<input type="text" name="in_stock" class="form-control"  placeholder="yes or no"/>
		                </div>
		                <div class="mb-3">
		                	<input type="submit" name="submit_button" class="btn btn-primary" value="Add" />
		                </div>
</form>
</div>
</div>
</body>
