<%- include('../partials/head') %>
<%- include('../partials/header') %>


<div class="container">
    <h2>Author ID: 00014719</h2>
</div>

<%- include('../partials/footer') %>

<style>
    .container {
        width: 1100px;
    }
</style>